*{
    color:white;
}

header{
    background-color:#58585B;
    height:100px;
    margin-bottom: 40px;
}

h1{
    float:left;
    padding-left: 20px;
    padding-bottom: 20px;
    width: fit-content;
}
#headerIcon{
    float:left;
    position:relative;
    height: 75px;
    width: 75px;
    margin-left:140px;
    margin-top: 10px;
}
.navbar ul{
    text-align: right;
    padding:25px;
}
li{
    display: inline-block;
    padding:10px;
}

.popupContainer{
    display:none;
    position:fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
}

.popupButtons{
    background-color: #eeeeee;
    margin:10% 25% auto 25%;
    padding: 20px;
    border: 20px solid #6CC04A;
    width: 50%;
    height: 30%;
    text-align: center;
}

#catsButton{
    height:100%;
    width:45%;
    color:#2B5592;
    background-color: #eeeeee;
}

#dogsButton{
    height:100%;
    width:45%;
    color:#2B5592; 
    background-color: #eeeeee; 
}

.home_main{
    text-align: center;
}
.home_main_image{
    margin-bottom: 100px;
}
.home_subimages{
    display:flex;
    justify-content: center;
}
.home_subimages section{
    text-align: center;
    margin: 0px 15px 0px 15px;
}

.home_subimages p{
    color:#2B5592;
    text-align:center;
}

footer {
    background-color: #6CC04A;
    height: 2rem;
    /* padding: 5px; */
}
footer p{
    vertical-align: middle;
    margin:.25em;
    padding:5px;
}
.credits{
    margin-left: 70%;;
}
